#createPostForm {
 width: 100%;
 display: flex;
 flex-direction: column;
 gap: var(--padding-16px);
}

#createPostForm input {
 width: 100%;
 background: var(--main-text-color);
 border: 1px solid var(--styling-color);
 border-radius: 8px;
 padding: var(--padding-12px);
 font-size: var(--p-font);
 color: var(--black-color);
}

#contentInput {
 padding: var(--padding-56px);
 border-radius: 8px;
}

#createPostForm label {
 font-family: var(--h3-font);
 color: var(--main-text-color);
 font-size: var(--h3-size);
 display: block;
 margin-top: var(--padding-12px);
}

.deleteBtn,
.publishBtn {
 width: 220px;
 display: flex;
 justify-content: center;
 margin: 0 auto;
 margin-top: 16px;
}
