#editPostForm {
 width: 100%;
 display: flex;
 flex-direction: column;
 gap: var(--padding-16px);
}

#editPostForm input {
 width: 100%;
 background: var(--main-text-color);
 border: 1px solid var(--styling-color);
 border-radius: 8px;
 padding: var(--padding-12px);
 font-family: var(--p-font);
 font-size: var(--p-font);
 color: var(--black-color);
}

textarea {
 font-family: var(--p-font);
 font-size: var(--p-font);
}

#contentInput {
 padding: var(--padding-12px);
 border-radius: 8px;
 min-height: 300px;
 resize: vertical;
}

#editPostForm label {
 font-family: var(--h3-font);
 color: var(--main-text-color);
 font-size: var(--h3-size);
 display: block;
 margin-top: var(--padding-12px);
}

.authorText {
 color: #ccc;
 font-style: italic;
 margin-bottom: 12px;
 font-size: var(--h3-size);
}

.publishBtn {
 width: 220px;
 display: flex;
 justify-content: center;
 margin: 0 auto;
 margin-top: 16px;
}
