/* footer styling */

.footerWrapper {
 position: relative;
 max-width: 100%;
 background: var(--footer-color), var(--footer-base-color);
}

.footerWrapper::before {
 content: "";
 display: block;
 height: 1px;
 max-width: 420px;
 width: 30%;
 margin: 24px auto 24px;
 background: linear-gradient(
  to right,
  transparent 0%,
  rgba(255, 255, 255, 0.6) 50%,
  transparent 100%
 );
}
.footerWrapper::after {
 content: "";
 position: absolute;
 top: -90px;
 left: 0;
 width: 100%;
 height: 90px;
 pointer-events: none;

 background: linear-gradient(
  to bottom,
  rgba(71,71,70,0),
  rgba(71,71,70,0.75)
 );
}


.footerContent {
 padding: var(--padding-16px);
}

.footerTopText {
 display: flex;
 flex-direction: column;
 gap: 24px;
}

.footerLogo {
 display: flex;
 justify-content: left;
 margin-left: 16px;
}

.footerWrapper img {
 max-width: 60%;
 height: auto;
}

.footerSlogan {
 display: flex;
 flex-direction: column;
 align-items: center;
}

.liveMore {
 color: #bb83a0;
}

.footerLinks {
 display: flex;
 justify-content: center;
 gap: var(--padding-12px);
 padding: var(--padding-16px);
}

.footerLinks a {
 color: var(--main-text-color);
}

.footerSocialIcons {
 display: flex;
 justify-content: center;
 gap: var(--padding-32px);
 padding: var(--padding-24px);
}

.footerPolicy {
 display: flex;
 justify-content: center;
 gap: var(--padding-16px);
 margin-bottom: var(--padding-16px);
 cursor: pointer;
}

.footerCopy {
 display: flex;
 justify-content: center;
 align-items: baseline;
 font-size: var(--small-text-size);
}

@media (min-width: 768px) {
 .btn {
  font-size: var(--h3-size-desktop);
  padding: var(--padding-12px) var(--padding-24px);
  border-radius: 30px;
 }
 .footerContent {
  max-width: 1200px;
  margin: 0 auto;
  padding: var(--padding-24px);
 }
 .footerLogo {
  display: flex;
  justify-content: left;
  margin-left: 24px;
 }
 .footerLogo img {
  width: 200px;
 }

 .footerSlogan {
  margin-bottom: var(--padding-16px);
 }
 .footerSlogan p {
  font-size: var(--font-size-desktop-24px);
 }

 .footerLinks {
  justify-content: center;
  gap: var(--padding-40px);
  padding: var(--padding-32px);
 }

 .footerLinks a {
  font-size: var(--font-size-desktop-24px);
 }

 .footerSocialIcons {
  justify-content: center;
  align-items: center;
  gap: var(--padding-48px);
 }

 .footerSocialIcons img {
  width: 5%;
  max-width: 48px;
  height: fit-content;
 }

 .footerPolicy {
  justify-content: center;
  gap: var(--padding-32px);
  padding: var(--padding-40px);
 }

 .footerPolicy p {
  font-size: var(--h3-size-desktop);
 }
}
