/* footer styling */

.footerWrapper {
 position: relative;
 max-width: 100%;
 overflow: hidden;
 background: var(--footer-color), var(--footer-base-color);
}

.footerWrapper::before {
 content: "";
 position: absolute;
 inset: 0;
 background-image: url("/images/laura-olsen-qy8u8sNv_LY-unsplash.jpg");
 background-size: cover;
 background-position: center;
 background-repeat: no-repeat;
 opacity: 0.04;
 filter: grayscale(100%) blur(1px);
 mix-blend-mode: overlay;
 pointer-events: none;
 z-index: 0;
}
.footerWrapper::after {
 content: "";
 position: absolute;
 top: -90px;
 left: 0;
 width: 100%;
 height: 90px;
 pointer-events: none;

 background: linear-gradient(
  to bottom,
  rgba(71, 71, 70, 0),
  rgba(71, 71, 70, 0.75)
 );
}

.footerDivider {
 height: 1px;
 width: 40%;
 max-width: 420px;
 margin: 0 auto;
 background: linear-gradient(
  to right,
  transparent,
  rgba(255, 255, 255, 0.6),
  transparent
 );
 position: relative;
 z-index: 1;
}

.footerContent {
 z-index: 1;
 position: relative;
 padding: var(--padding-16px);
}

.footerTopText {
 display: flex;
 flex-direction: column;
 gap: 16px;
}

.footerLogo {
 display: flex;
 justify-content: left;
 margin-left: 16px;
}

.footerWrapper img {
 max-width: 60%;
 height: auto;
}

.footerSlogan {
 display: flex;
 flex-direction: column;
 align-items: center;
}

.liveMore {
 color: #bb83a0;
}

.footerLinks {
 display: flex;
 justify-content: center;
 gap: var(--padding-12px);
 padding: var(--padding-12px) 0;
}

.footerLinks a {
 color: var(--main-text-color);
}

.footerSocialIcons {
 display: flex;
 justify-content: center;
 gap: var(--padding-24px);
 padding: var(--padding-16px) 0;
}

.footerPolicy {
 display: flex;
 justify-content: center;
 gap: var(--padding-16px);
 margin-bottom: var(--padding-8px);
 cursor: pointer;
}

.footerCopy {
 display: flex;
 justify-content: center;
 align-items: baseline;
 font-size: var(--small-text-size);
}

@media (min-width: 768px) {
 .btn {
  font-size: var(--h3-size-desktop);
  padding: var(--padding-12px) var(--padding-24px);
  border-radius: 30px;
 }
 .footerContent {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 24px 16px;
 }
 .footerLogo {
  display: flex;
  justify-content: left;
  margin-left: 24px;
 }
 .footerLogo img {
  width: 200px;
 }

 .footerSlogan {
  margin-bottom: var(--padding-16px);
 }
 .footerSlogan p {
  font-size: var(--font-size-desktop-24px);
 }

 .footerLinks {
  justify-content: center;
  gap: var(--padding-40px);
  padding: var(--padding-24px) 0;
 }

 .footerLinks a {
  font-size: var(--font-size-desktop-24px);
 }

 .footerSocialIcons {
  justify-content: center;
  align-items: center;
  padding: var(--padding-16px) 0;
  gap: var(--padding-32px);
 }

 .footerSocialIcons img {
  width: 5%;
  max-width: 48px;
  height: fit-content;
 }

 .footerPolicy {
  justify-content: center;
  gap: var(--padding-32px);
  padding: 24px 0 16px;
 }

 .footerPolicy p {
  font-size: var(--h3-size-desktop);
 }
}
