.mainHeader {
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: var(--padding-16px);
 background-color: var(--header-color);
 position: sticky;
 top: 0;
 z-index: 2000;
 background: white;
}

.logo img {
 width: 40px;
}

.navLinks a {
 display: none;
}

.mobileMenu {
 position: fixed;
 width: 200px;
 height: calc(100vh - var(--header-height));
 background:
  linear-gradient(rgba(0, 0, 0, 0.51), rgba(0, 0, 0, 0.51)),
  url("/images/sidebarImage-pawel-czerwinski-ymzs15Afjhg-unsplash\ 1.png");
 background-position: right center;
 background-size: cover;
 background-position: center;
 background-repeat: no-repeat;
 transform: translateX(100%);
 transition: transform 0.3s ease;
 padding: 20px;
 z-index: 1000;
 top: var(--header-height);
 right: 0;
}

.mobileMenu.open {
 transform: translateX(0);
}

.headerIcons {
 display: flex;
 align-items: center;
 gap: var(--padding-24px);
}

.hamburgerBtn {
 background: none;
 border: none;
 padding: 8px;
 cursor: pointer;
}

.hamburgerBtn img {
 width: 28px;
 height: auto;
}

.iconClose {
 display: none;
}

.hamburgerBtn.active .iconOpen {
 display: none;
}

.hamburgerBtn.active .iconClose {
 display: block;
}

@media (min-width: 767px) {
 #hamburger {
  display: none;
 }

 .navLinks a {
  display: flex;
  gap: 32px;
  color: var(--black-color);
 }

 .mobileMenu {
  display: none;
 }
}
