/*** SIGNUP/REGISTRATION ***/
.greenT {
 color: var(--primary-color);
}

.h1-register,
.h2-register {
 text-align: center;
}

.formWrapper {
 max-width: 420px;
 display: flex;
 align-items: center;
 justify-content: center;
 padding: var(--padding-8px);
}
.registerForm {
 width: 100%;
}

.registerForm input {
 width: 100%;
 background: transparent;
 border: none;
 border-bottom: 1px solid var(--styling-color);
 padding: var(--padding-8px);
 font-size: 0.95rem;
 color: white;
 outline: none;
}

.registerForm label {
 font-family: var(--p-font);
 color: var(--main-text-color);
 display: block;
 margin-top: var(--padding-16px);
}

.pLoginText {
 text-align: center;
 font-size: var(--small-text-size);
 color: white;
 margin: 22px 0 18px;
}

.pLoginText a {
 color: var(--styling-color);
 text-decoration: none;
 font-weight: 500;
}

.register-btn {
 width: 220px;
 display: flex;
 justify-content: center;
 margin: 0 auto;
}

@media (min-width: 768px) {
 .mainWrapper {
  max-width: 768px;
 }
 .formWrapper {
  max-width: 600px;
  margin: 0 auto;
 }
 .registerForm input {
  font-size: var(--h3-size-desktop);
  padding: var(--padding-32px) 0;
 }
 .h1-register {
  font-size: var(--h1-size-desktop);
  padding: var(--padding-16px);
 }
 .h2-register {
  font-size: var(--h2-size-desktop);
 }
 .registerForm label {
  font-size: var(--h3-size-desktop);
 }
 .pLoginText {
  font-size: var(--font-size-desktop-20px);
  margin: 28px 0 22px;
  justify-self: right;
 }
 
 .register-btn {
  max-width: 250px;
 }
}
