/*** SIGNUP/REGISTRATION ***/
.greenT {
 color: var(--primary-color);
}

.h1-register,
.h2-register {
 margin-top: var(--padding-24px);
 text-align: center;
}
.mainWrapper {
 width: 100%;
 max-width: 768px;
 margin: 0 auto;
}

.formWrapper {
 width: 100%;
 max-width: 420px;
 margin: 0 auto;
 padding: var(--padding-24px);
}

#registerForm {
 width: 100%;
 display: flex;
 flex-direction: column;
 gap: 16px;
}

#registerForm input {
 width: 100%;
 background: transparent;
 border: none;
 border-bottom: 1px solid var(--styling-color);
 padding: var(--padding-8px);
 font-size: var(--p-font);
 color: white;
 outline: none;
}

#registerForm label {
 font-family: var(--h3-font);
 color: var(--main-text-color);
 font-size: var(--h3-size);
 display: block;
 margin-top: var(--padding-16px);
}

.pLoginText {
 align-self: flex-end;
 text-align: right;
 font-size: var(--small-text-size);
 color: white;
}

.resetText a {
 font-size: var(--small-text-size);
 color: var(--styling-color);
 text-decoration: none;
 font-weight: 500;
 margin-left: 4px;
}

.register-btn {
 width: 220px;
 display: flex;
 justify-content: center;
 margin: 0 auto;
 margin-top: 24px;
}

/********* LOG IN ********/

.h1-login {
 text-align: center;
 margin: var(--padding-24px) 0 0 0;
}
.loginWrapper {
 width: 100%;
 max-width: 420px;
 margin: 24px auto;
 padding: var(--padding-24px);
 background-color: transparent;
}

#loginForm {
 width: 100%;
 display: flex;
 flex-direction: column;
}

.inputGroup {
 width: 100%;
 display: flex;
 height: 64px;
 align-items: center;
 background: var(--primary-bg-color);
 border: 1px solid var(--styling-color);
 border-radius: 8px;
 margin-bottom: 24px;
}

.inputIcon {
 height: 100%;
 width: 64px;
 display: flex;
 align-items: center;
 justify-content: center;
 background: #a2a3a3;
 border-radius: 8px;
 margin-right: 10px;
}

.inputIcon img {
 width: auto;
 height: 23px;
}

.inputGroup input {
 width: 100%;
 background: transparent;
 border: none;
 outline: none;
 color: white;
 font-size: var(--p-font);
 font-family: var(--p-font);
}

.inputGroup input::placeholder {
 color: var(--main-text-color);
}

@media (min-width: 768px) {
 .formWrapper {
  max-width: 600px;
  margin: 0 auto;
 }
 #registerForm input {
  font-size: var(--h3-size-desktop);
  padding: var(--padding-16px) 0;
 }
 .h1-register,
 .h1-login {
  font-size: var(--h1-size-desktop);
  padding: var(--padding-16px);
 }
 .h2-register {
  font-size: var(--h2-size-desktop);
 }
 #registerForm label {
  font-size: var(--h3-size-desktop);
 }
 .pLoginText {
  font-size: var(--font-size-desktop-20px);
 }
 .resetText a {
  font-size: var(--font-size-desktop-20px);
 }
 .register-btn {
  max-width: 250px;
 }
 #loginForm {
  display: flex;
  flex-direction: column;
  font-size: var(--h3-size-desktop);
  padding: var(--padding-32px) 0;
  gap: 32px;
  margin: 0 auto;
 }
 .inputGroup {
  max-width: 900px;
  margin-bottom: 8px;
 }
}
